<%= link_to "back",books_path %>
<table border="1">
	<tr>
		<td>Name:</td>
		<td><%= @book.name %></td>
	</tr>
	<tr>
		<td>Author:</td>
		<td><%= @book.author %></td>
	</tr>
	<tr>
		<td>Title:</td>
		<td><%= @book.title %></td>
	</tr>
	<tr>
		<td>Description:</td>
		<td><%= @book.description %></td>
	</tr>
	<tr>
		<td>Price:</td>
		<td><%= @book.price %></td>
	</tr>
</table>	
	<% if user_signed_in? && book.user == current_user %>
		<%= link_to "Edit",edit_book_path(@book.id) %>
		<%= link_to "Delete",book_path(@book.id),method: :delete,data:{ confirm: "are you sure?"} %>
<% end %>
<%= link_to "New Book",new_book_path %>